.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body{
  background-color: #F2EAD3;
}

body, ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #3F2305; 
  padding: 0; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 4rem;
}

nav .logo {
  height: 40px; 
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block; 
  margin-right: 20px;
  padding-top: 9px;
}

nav ul li a {
  color: white; 
  text-decoration: none; 
  padding: none; 
  display: block; 
}

nav ul li a:hover {
  color: #f6fd20; 
}

.background {
  background-image: url(background-01.jpg);
  background-size: cover;
  background-blend-mode: darken;
}


/* ini style grid selamat datang */
.section-selamatdatang{
  background-image: url(img/backgroun\ utama.jpg);
  background-size: cover;
}

.grid-selamatDatang {
display: flex; 
}

.grid-item {
flex: 1; 
background-color: none; 
padding: none; 
border: none; 
text-align: center; 
box-sizing: border-box; 
}

.h1-selamatDatang{
  padding-top: 80px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-display:inherit;
  color: white;
  padding-bottom: none;
  margin-bottom: none;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  color: white; 
  border-radius: 10px;
}

.h1-selamatDatang .h2-selamatDatang {
  padding-top: none;
  margin-top: none;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-display: inherit;
  font-style: normal;
  font-size: 24px;
}

.grid1 {
  padding-top: 7rem;
}
.container-button-selamatdatang{
  padding-top: 8rem;
  position: relative;
}

.button {
  background-color: #3F2305; 
  color: white; 
  padding: 15px 20px; 
  border: none; 
  border-radius: 5px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.container2{
  padding-top: 8rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 200px;
}

.h2 {
  color: #3F2305;
  font-size: 90px;
}

.grid {
  display: flex;
  padding: 1rem;
}

.grid-item1 {
  flex: 1; 
  background-color: none; 
  padding: 1rem; 
  margin: 10px;
  border: none; 
  text-align: center; 
  box-sizing: border-box; 
}

.grid-item2 {
  flex: 1; 
  background-color: none; 
  padding: 1rem; 
  margin: 10px;
  border: none; 
  text-align: center; 
  box-sizing: border-box; 
}

.grid-item3 {
  flex: 1; 
  background-color: none; 
  padding: 1rem; 
  margin: 10px;
  border: none; 
  text-align: center; 
  box-sizing: border-box; 
}

/* style card */
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #F5F5F5;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-title {
  margin-top: 0;
}

.card-description {
  margin-bottom: 0;
}


.link  {
color: white; 
text-decoration: none;
}

.swiper-container {
width: 100%;
height: 100%;
}

.swiper-slide {
width: 100%;
height: 100%;
}

.section {
width: 100%;
height: 100%;
}


/*ini corusel*/
.carousel-container {
position: relative;
width: 80%;
margin: 0 auto;

}

.carousel-slide {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory
}

.review {
background-color: #fff;
flex: 0 0 auto;
width: 300px;
margin-right: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
border-radius: 10px; /* Tambahkan sudut bulat */
}

.review img {
width: 100%;
border-top-left-radius: 10px; /* Tambahkan sudut bulat pada gambar */
border-top-right-radius: 10px; 
justify-content: center;
display: flex;
}

.review-content {
padding: 20px;
}

.review-content p {
margin-bottom: 10px;
}

.review-content .author {
font-style: italic;
}

#prevBtn, #nextBtn {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: transparent; /* Ubah latar belakang tombol menjadi transparan */
color: #000; /* Ubah warna tulisan menjadi hitam */
padding: 10px; /* Mengurangi padding agar tombol lebih kecil */
border: none;
cursor: pointer;
font-size: 20px;
}

.section-costumer {
margin-bottom: 4 rem;
padding-bottom: 4 rem;
}


/*ini corusel*/

/*footer*/

footer {
background-color: #3F2305;
}

.img-footer{
width: 150px;
}

.footer-head {
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 12px;
}

.footer-head h4 {
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}


.header-costumer {
display: flex;
justify-content: center;
align-items: center;
}

/*my footer fixed*/




.buttonMenuKopi {
  justify-content: end;
  align-items: end;
}


/* Bagian form contact us */
.contact-body {
  margin: 0;
  background-image: url("/background-01.jpg");
}

.custom-container {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto; /* Changed margin to auto to center horizontally */
}

.custom-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3F2305;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one, .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.custom-container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3F2305;
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
  display: flex;
}
.right-side .input-box label {
  margin-right: 1rem;
  justify-content: center;
  align-self: center;
}
.right-side .input-box input, .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button-form {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button-form input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3F2305;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-form input[type="button"]:hover {
  background: #944c00;
}

/* Profile */
.tentang-coffee {
  background-image: url('/img/kopi-bg.jpg');
  background-repeat: no-repeat; /* untuk menghindari pengulangan gambar */
  background-position: center; /* untuk menentukan posisi gambar pada section */
  background-size: auto 100%; /* untuk menyesuaikan ukuran gambar dengan ukuran section */
  padding: 25% 10% 25% 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  justify-content: center;
  background-color: #ffffff9d;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.grid-container .column-1{
  background-image: url('/img/sejarah-kopi.jpg');
  background-repeat: no-repeat; /* untuk menghindari pengulangan gambar */
  background-position: center; /* untuk menentukan posisi gambar pada section */
  background-size: cover; /* untuk menyesuaikan ukuran gambar dengan ukuran section */
  border-radius: 10px 0px 0px 10px;
}

.grid-container .column-2{
  font-family: "Roboto";
  font-size: 1.2rem;
  text-align: justify;
  padding: 1%;
}

.grid-container2 {
  background-image: url('/img/test-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 5% 15% 5% 15%;
}

.grid-container2 .row-1 {
  margin-left: 25rem;
  margin-right: 25rem;
}

.grid-container2 .row-1 h1 {
  text-align: center;
  font-weight: 800;
  padding: 2%;
  margin: 0;
  background-color: #ffffff9d;
  border-radius: 10px 10px 0px 0px;
}

.grid-container2 .row-2 p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  padding: 2%;
  margin: 0;
  background-color: #ffffff9d;
  border-radius: 10px;
}

/* developer profile */
.row1 {
  display: grid;
  grid-template-columns: 250px auto 100px;
  grid-template-rows: 250px;
  padding: 10% 10% 3% 10%;
  font-family: "Roboto";
}

.row1 .grid1 {
  padding: 0;
  margin: 0;
}

.row1 .grid2 {
  padding: 1rem;
}

.row1 .grid2 p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  margin: 0;
}

.row1 .grid1 img {
  width: 250px;
  height: 250px;
  padding: 1rem;
  border-radius: 30px 0px 30px 0px;
}

.row1 .grid3 {
  padding: 0;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.row1 .grid3 a {
  background: #F5F5F5;
  padding: 8px;
  display: flex;
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  color: #616161;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.row1 .grid3 a:hover{
  border: 2px solid #3F2305;
  color: #3F2305;
}

.row1 .grid3 a i{
  font-size: 26px;
  font-weight: 500;
}

.row2 {
  display: grid;
  grid-template-columns: 100px auto 250px;
  grid-template-rows: 250px;
  padding: 0% 10% 10% 10%;
  font-family: "Roboto";
}

.row2 .grid1 {
  padding: 0;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.row2 .grid1 a {
  background: #F5F5F5;
  padding: 8px;
  display: flex;
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  color: #616161;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.row2 .grid1 a:hover{
  border: 2px solid #3F2305;
  color: #3F2305;
}

.row2 .grid1 a i{
  font-size: 26px;
  font-weight: 500;
}

.row2 .grid2 {
  padding: 1rem;
}

.row2 .grid2 p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  margin: 0;
}

.row2 .grid3 img {
  width: 250px;
  height: 250px;
  padding: 1rem;
  border-radius: 0px 30px 0px 30px;
}



/*BHAAA RSS DONE*/
/* CSS untuk container RSS feed */
#rss-feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* CSS untuk setiap item dalam RSS feed */
.feed-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

/* CSS untuk judul setiap item */
.feed-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* CSS untuk tautan setiap item */
.feed-item a {
  color: #533600;
  text-decoration: none;
}

/* CSS untuk tautan saat dihover */
.feed-item a:hover {
  text-decoration: underline;
}

/* CSS untuk tombol "More News" */
#more-news {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#rss-feed-container {
  background-color: #ffffff; /* Warna latar belakang putih */
  padding: 20px;
}

.containerRss {
  background-color: #ffffff; /* Warna latar belakang putih */
  max-width: 800px; /* Lebar maksimum div */
  margin: 0 auto; /* Posisi div di tengah halaman */
  padding: 20px; /* Padding untuk isi div */
  border-radius: 40px;
}


.judul-bawah {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  padding-top: 20px;
}

.feed-item img {
  width: 700px; /* Lebar gambar thumbnail 100 piksel */
  height: auto; /* Menyesuaikan tinggi sesuai proporsi asli */
}