.hero-section {
  background-image: url(../img/backgroun\ utama.jpg);
  background-size: cover;
}

.menu-kopi {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  color: white;
  padding: none;
  margin: none;
}

.menu-kopi .span-menu {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 60px;
  color: rgb(48, 48, 48);
  padding : none;
  margin: none;
}


.daftarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Style pop up card 1*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-image: url(imgMenu/bg\ cerita.jpg);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style pop up card 2*/
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content-2 {
  background-image: url(imgMenu/bg\ cerita.jpg);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


